# IDE
/.idea/
*.iml
*.iws
*.ipr

# Gradle
/.gradle/
/build/
/bin/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IntelliJ Platform Plugin
/.intellijPlatform/

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*

# 项目特定的忽略文件
lib/
lib/**/*.jar
lib/**/*.zip

# 但不要忽略 gradlew 文件
# 这些文件应该被提交到版本控制中

#Ignore cursor AI rules
.cursor\rules\codacy.mdc

# 敏感配置文件
src/main/resources/advice-email.properties
src/main/resources/mongodb-config.properties
